Documentation/_static/event-scan/wsvistasalessrvr.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://vista.co.nz/webservices/wsvistasalessrvr" xmlns:s1="http://vista.co.nz/webservices/wsvistasalessrvr/VSSMessage.xsd" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://vista.co.nz/webservices/wsvistasalessrvr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://vista.co.nz/webservices/wsvistasalessrvr">
      <s:import namespace="http://vista.co.nz/webservices/wsvistasalessrvr/VSSMessage.xsd" />
      <s:element name="GetVersionEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersionExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionExResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Execute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransIdTemp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CmdName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param6" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteResult" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransIdTemp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CmdName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Param6" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteExResult" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:VSSRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:VSSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Requests" type="tns:ArrayOfVSSRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSSRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSSRequest" nillable="true" type="s1:VSSRequest" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExecuteBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteBatchResult" type="tns:ArrayOfVSSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVSSResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VSSResponse" nillable="true" type="s1:VSSResponse" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://vista.co.nz/webservices/wsvistasalessrvr/VSSMessage.xsd">
      <s:element name="VSSRequest" type="s1:VSSRequest" />
      <s:complexType name="VSSRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="clientid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transidtemp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cmdname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="param1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="param2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="param3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="param4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="param5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="param6" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="returnbinary" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="batchcontinueonresultcodes" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="VSSResponse" type="s1:VSSResponse" />
      <s:complexType name="VSSResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="returncode" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="returndata" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="returndatabinary" nillable="true" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="logentrylist" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cmdname" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetVersionExSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersionEx" />
  </wsdl:message>
  <wsdl:message name="GetVersionExSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionExResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteSoapIn">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="ExecuteSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteExSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteEx" />
  </wsdl:message>
  <wsdl:message name="ExecuteExSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteExResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteXMLSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteXML" />
  </wsdl:message>
  <wsdl:message name="ExecuteXMLSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteXMLResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteBatchSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteBatch" />
  </wsdl:message>
  <wsdl:message name="ExecuteBatchSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteBatchResponse" />
  </wsdl:message>
  <wsdl:portType name="WSVistaSalesSrvrSoap">
    <wsdl:operation name="GetVersion">
      <wsdl:input name="GetVersionEx" message="tns:GetVersionExSoapIn" />
      <wsdl:output name="GetVersionEx" message="tns:GetVersionExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:input message="tns:GetVersionSoapIn" />
      <wsdl:output message="tns:GetVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <wsdl:input message="tns:ExecuteSoapIn" />
      <wsdl:output message="tns:ExecuteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <wsdl:input name="ExecuteEx" message="tns:ExecuteExSoapIn" />
      <wsdl:output name="ExecuteEx" message="tns:ExecuteExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <wsdl:input name="ExecuteXML" message="tns:ExecuteXMLSoapIn" />
      <wsdl:output name="ExecuteXML" message="tns:ExecuteXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteBatch">
      <wsdl:input message="tns:ExecuteBatchSoapIn" />
      <wsdl:output message="tns:ExecuteBatchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSVistaSalesSrvrSoap" type="tns:WSVistaSalesSrvrSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://vista.co.nz/webservices/wsvistasalessrvr/GetVersionEx" style="document" />
      <wsdl:input name="GetVersionEx">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetVersionEx">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://vista.co.nz/webservices/wsvistasalessrvr/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://vista.co.nz/webservices/wsvistasalessrvr/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://vista.co.nz/webservices/wsvistasalessrvr/ExecuteEx" style="document" />
      <wsdl:input name="ExecuteEx">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ExecuteEx">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://vista.co.nz/webservices/wsvistasalessrvr/ExecuteXML" style="document" />
      <wsdl:input name="ExecuteXML">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ExecuteXML">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteBatch">
      <soap:operation soapAction="http://vista.co.nz/webservices/wsvistasalessrvr/ExecuteBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSVistaSalesSrvrSoap12" type="tns:WSVistaSalesSrvrSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVersion">
      <soap12:operation soapAction="http://vista.co.nz/webservices/wsvistasalessrvr/GetVersionEx" style="document" />
      <wsdl:input name="GetVersionEx">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetVersionEx">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap12:operation soapAction="http://vista.co.nz/webservices/wsvistasalessrvr/GetVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap12:operation soapAction="http://vista.co.nz/webservices/wsvistasalessrvr/Execute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap12:operation soapAction="http://vista.co.nz/webservices/wsvistasalessrvr/ExecuteEx" style="document" />
      <wsdl:input name="ExecuteEx">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ExecuteEx">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap12:operation soapAction="http://vista.co.nz/webservices/wsvistasalessrvr/ExecuteXML" style="document" />
      <wsdl:input name="ExecuteXML">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ExecuteXML">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteBatch">
      <soap12:operation soapAction="http://vista.co.nz/webservices/wsvistasalessrvr/ExecuteBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSVistaSalesSrvr">
    <wsdl:port name="WSVistaSalesSrvrSoap" binding="tns:WSVistaSalesSrvrSoap">
      <soap:address location="http://10.254.252.1/wsvistasalessrvr/wsvistasalessrvr.asmx" />
    </wsdl:port>
    <wsdl:port name="WSVistaSalesSrvrSoap12" binding="tns:WSVistaSalesSrvrSoap12">
      <soap12:address location="http://10.254.252.1/wsvistasalessrvr/wsvistasalessrvr.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>